<div class="container text-center signup-with-linkedin-form">
	<div>
		<img src="./assets/images/search-icon.png" alt="search" class="searchIcon" />

		<div>
			<p class="header-subtitle text-muted">
				Please confirm or edit your contact information, so that we can notify you when you are approved for our BETA.
			</p>
		</div>

		<div class="signup-form">
			<div class="row">
				<div class="col-xs-12 text-left">
					<label>NAME</label>
					<input type="text" [(ngModel)]='user.name' class="form-control" id="name" readonly="readonly" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-left">
					<label>EMAIL ADDRESS</label>
					<input type="text" [(ngModel)]='user.email' class="form-control" id="email"  readonly="readonly" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-left">
					<label>PHONE NUMBER</label>
					<input type="text" [(ngModel)]='user.phone' class="form-control transparent-background" />
				</div>
			</div>	
			<div class="row sign-btn-container">
				<div class="col-xs-12 text-center">
					<input type="button" id="signUpBtn" (click)="signUp()" class="btn btn-lg btn-primary" value="SIGN UP"/>
					<br/>
					<div class="text-muted text-center" style="margin-top: 20px;">SIGN IN</div>
				</div>
			</div>						
		</div>
	</div>

</div>