#homeContainer{
    min-height: 100%;
    background-color: #007ABF; 
    position: relative;    
    overflow-x: auto;
    overflow-y: hidden;
}
#content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.card-list-container{
    width: 272px;
    margin: 0 4px;
    max-height: 99%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;    
    background-color: #DEE3E6;
    padding: 10px 8px;
    border-radius: 3px;
    /* overflow: hidden; */
}
.card-title h2 {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 8px;
    font-weight: 600;
    padding: 0 8px;    
}
.card-content{
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    min-height: 0;
    background-color: #dfe3e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;    
}
.card-title{
    position: relative;
}
.options-button{
    position: absolute;
    right: 3px;
    top: 5px;    
}
.card-list-column{
    border-radius: 4px;
    margin-bottom: 8px;    
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    cursor: pointer;
}
.board-title{
    cursor: default;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding-left: 4px;
    color: #fff;
    padding: 10px;
}
.card-list-container .dropdown-menu{
    padding: 20px 0
}
.card-list-container .dropdown-item{
    cursor: pointer;
    width: 100%;
    display: block;
    font-weight: 700;
    padding: 6px 12px;
    position: relative;
    text-decoration: none
}
.card-list-container .dropdown-item:hover{
    background-color: #298fca;
    color: #fff;
    text-decoration: none
}
#cardModal .form-control{
    margin-bottom: 10px;
}