<div class="container text-center">
	<img src="./assets/images/header.png" alt="Banner" class="fit-to-parent" />

	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="./assets/images/logo.png" alt="Logo" />
		</div>
	</div>	

	<h1 class="header-shout-out">Real Estate Investing Information</h1>
	<h1 class="header-shout-out">That Matters to You.</h1>

	<div class="row">		
		<div class="col-xs-12 text-center">
			<p class="sub-title">Limited to the San Francisco Bay Area - Join our BETA!</p>
		</div>		
	</div>

	<div class="row sign-up-container">
		<div class="col-xs-12 text-center">

			<a routerLink='/signin' id="linkedInSignIn" class="btn btn-lg btn-primary">SIGN UP WITH LINKEDIN</a>
			<div class="sign-in-text-container">
				<p>SIGN IN</p>
			</div>
		</div>
	</div>

</div>
