<div id="homeContainer">
    <div id="content">
        <div class="row margin-0">
            <div class="col">
                <div class="board-title">
                    Scrum Board
                </div>
            </div>
        </div>
        <div class="card-list-container" *ngFor="let board of boardList; let i=index">
            <div class="card-title">
                <h2>{{board.title}}</h2>
                <span class="options-button">
                    <div class="dropdown">
                        <i class="fas fa-ellipsis-h dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#cardModal">Add
                                Card...</a>
                        </div>
                    </div>
                </span>
            </div>
            <div class="card-content">
                <cdk-drop class="list-group list-group-flush" [id]="board.listName" [data]="board.taskArray"
                    [connectedTo]="filterListName(connectList, board.listName)" (dropped)="drop($event)">
                    <div class="list-group-item list-group-item-primary card-list-column" *ngFor="let card of board.taskArray"
                        cdkDrag>
                        <p class="mb-1"> {{ card.title | titlecase }} </p>
                        <small class="text-muted"> {{ card.description }}</small>
                        <small class="text-muted"> {{ card.dateAdded | date:'short' }}</small>
                    </div>
                </cdk-drop>
            </div>
        </div>
        <!-- <div class="card-list-container">
            <div class="card-title">
                <h2>Header</h2>
                <span class="options-button"><i class="fas fa-ellipsis-h"></i></span>
            </div>
            <div class="card-content">
                <cdk-drop #doneList [data]="done" [connectedTo]="[todoList, cancelledList]" class="list-group list-group-flush"
                    (dropped)="drop($event)">
                    <div class="list-group-item card-list-column" *ngFor="let item of done" cdkDrag>
                        <p class="mb-1"> {{ item.title | titlecase }} </p>
                        <small class="text-muted"> {{ item.description }} </small>
                        <small class="text-muted"> {{ item.dateAdded | date:'short' }} </small>
                    </div>
                </cdk-drop>
            </div>
        </div>
        <div class="card-list-container">
            <div class="card-title">
                <h2>Header</h2>
                <span class="options-button"><i class="fas fa-ellipsis-h"></i></span>
            </div>
            <div class="card-content">
                <cdk-drop #cancelledList [data]="cancelled" [connectedTo]="[todoList, doneList]" class="list-group list-group-flush"
                    (dropped)="drop($event)">
                    <div class="list-group-item  card-list-column" *ngFor="let item of cancelled" cdkDrag>
                        <p class="mb-1"> {{ item.title | titlecase }} </p>
                        <small class="text-muted"> {{ item.description }} </small>
                        <small class="text-muted"> {{ item.dateAdded | date:'short' }} </small>
                    </div>
                </cdk-drop>
            </div>
        </div> -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cardModalLabel">Add Card</h4>
            </div>
            <div class="modal-body">
                <div class="row margin-0">
                    <div class="col">
                        <select #tasklist class="form-control">
                            <option selected value="todo">To Do</option>
                            <option value="done">Done</option>
                        </select>

                    </div>
                    <div class="col">
                        <input type="text" #taskitem class="form-control" placeholder="Enter Title" />
                    </div>
                    <div class="col">
                        <textarea class="form-control" #taskDescription placeholder="Enter Description" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addItem(tasklist.value, taskitem.value, taskDescription.value)">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>